---
import ProjectCard from '../components/ProjectCard.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'

import type { EntryFieldTypes } from 'contentful'
import { contentfulClient } from '../lib/contentful'

interface Project {
  contentTypeId: 'Projects'
  fields: {
    name: EntryFieldTypes.Text
    img: EntryFieldTypes.AssetLink
    website: EntryFieldTypes.EntryResourceLink<any>
    repositorio: EntryFieldTypes.EntryResourceLink<any>
  }
}

const entries = await contentfulClient.getEntries<Project>({})

const localProjects = [
  {
    sys: { id: 'local-todolist' },
    fields: {
      name: 'To-Do-List',
      description: '- Using Vite.js, React, Express and mongodb',
      img: {
        fields: {
          file: { url: '/todolist/todolist.png' },
          title: 'To Do List Image',
        },
      },
      website: 'https://to-do-list-xho9.onrender.com/',
    },
  },
  {
    sys: { id: 'local-solarsystem' },
    fields: {
      name: 'SolarSystem3D',
      description: '- Using three.js & Vite.js',
      img: {
        fields: {
          file: { url: '/solarsystem/solarsystem.png' },
          title: 'SolarSystem3D Image',
        },
      },
      website: 'https://solarsystem3d.onrender.com/',
    },
  },
  {
    sys: { id: 'local-ultimatetransfert' },
    fields: {
      name: 'UltimeTransfert',
      description: '- Using Vite.js, React and Express',
      img: {
        fields: {
          file: { url: '/ultimatetransfert/ultimatetransfert.png' },
          title: 'UltimeTransfert Image',
        },
      },
      website: 'https://ultimatetransfert.onrender.com/',
    },
  },
  {
    sys: { id: 'local-calculatorvuejs' },
    fields: {
      name: 'CalculatorVueJS',
      description: '- Using Vue.js',
      img: {
        fields: {
          file: { url: '/calculatorvuejs/calculatorvuejs.png' },
          title: 'CalculatorVueJS Image',
        },
      },
      website: 'https://calculatorvuejs.onrender.com/',
    },
  },
  {
    sys: { id: 'local-gameszone' },
    fields: {
      name: 'GamesZone',
      description: '- Using JS',
      img: {
        fields: {
          file: { url: '/gameszone/gameszone.png' },
          title: 'GamesZone Image',
        },
      },
      website: 'https://games-zone.onrender.com/',
    },
  },
  {
    sys: { id: 'local-nutritionscore' },
    fields: {
      name: 'NutritionScore',
      description: '- Using React',
      img: {
        fields: {
          file: { url: '/nutritionscore/nutritionscore.png' },
          title: 'NutritionScore Image',
        },
      },
      website: 'https://nutritionscore.onrender.com/',
    },
  },
]

const allProjects = [...localProjects]
---

<BaseLayout title="Projects" description="Projects and some clone's that I did">
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-4 text-center text-3xl font-semibold tracking-tight first:mt-0"
      >
        Projets
      </h2>
    </TopLayout>
    <BottomLayout>
      <div class="flex w-full flex-wrap justify-center gap-4">
        {
          allProjects.map((entry: any) => (
            <ProjectCard
              key={entry?.sys?.id}
              href={entry?.fields?.website}
              heading={entry?.fields?.name}
              subheading={entry?.fields?.description}
              imagePath={entry?.fields?.img?.fields?.file.url}
              altText={entry?.fields?.img?.fields.title}
              class="w-full sm:w-2/5"
            />
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
